// Color
$white-primary: #fff;
$black-primary: #000;
$pink-primary: #e9896a;
$green-primary: #387c6d;

// Font and text
$font-family: "Nunito", sans-serif;
$font-size-1: 1rem;
$font-size-2: 1.2rem;
$font-size-3: 0.9rem;
$font-size-4: 0.8rem;

// Border and background
$border: 1px solid black;
$border-radius: 10px;
