@import url("https://fonts.googleapis.com/css?family=Sacramento&display=swap");
*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-size: 125%;
}

body {
  margin: 0;
}

main {
  display: block;
}

footer,
header,
nav,
section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

img {
  border-style: none;
}

button,
input,
select {
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Global Styles */
.wrapper {
  max-width: 1240px;
  width: 90%;
  margin: 0px auto;
}

button {
  text-transform: capitalize;
  padding: 10px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

button:hover,
button:focus {
  background-color: #387c6d;
}

h2 {
  color: #fff;
}

/* Header styling */
header {
  background: #387c6d;
  background-image: repeating-linear-gradient(to bottom, transparent 5px, rgba(52, 63, 86, 0.8) 12px, rgba(233, 137, 106, 0.8) 15px, transparent 5px);
}

/* Credit this animation to https://codepen.io/ananyaneogi/pen/Bgozrz*/
h1 {
  margin: 0;
  padding: 40px;
  font-size: calc(20px + 7vh);
  line-height: calc(20px + 5vh);
  font-family: "Sacramento", cursive;
  animation: blink 3s infinite;
  -webkit-animation: blink 12s infinite;
  text-shadow: 0 0 5px #f7ea00, 0 0 15px #f7ea00, 0 0 20px #f7ea00, 0 0 40px #f7ea00, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
}

@-webkit-keyframes blink {
  20%,
  24%,
  55% {
    color: #000;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #f7ea00, 0 0 15px #f7ea00, 0 0 20px #f7ea00, 0 0 40px #f7ea00, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  }
}

@keyframes blink {
  20%,
  24%,
  55% {
    color: #000;
    text-shadow: none;
  }
  0%,
  19%,
  21%,
  23%,
  25%,
  54%,
  56%,
  100% {
    text-shadow: 0 0 5px #f7ea00, 0 0 15px #f7ea00, 0 0 20px #f7ea00, 0 0 40px #f7ea00, 0 0 60px #ff0000, 0 0 10px #ff8d00, 0 0 98px #ff0000;
  }
}

h4 {
  color: #fff;
}

.hidden {
  display: none;
}

.homepage-link {
  text-decoration: none;
}

.homepage-link:hover,
.homepage-link:focus {
  color: #fff;
}

form {
  width: 250px;
  margin: 30px auto;
  padding: 20px 0;
  border: 1px solid black;
  border-radius: 10px;
  background-color: #e9896a;
}

label {
  font-size: 18px;
  text-transform: capitalize;
  padding-top: 10px;
  color: white;
  font-weight: 700;
}

.movie-lists-container {
  padding: 20px 0;
}

.search-container {
  background-color: #387c6d;
  padding: 10px 0 40px 0;
  text-align: center;
  border: 1px solid black;
}

.app-description {
  padding: 40px 70px;
  color: #fff;
}

.btn-select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: 1px solid black;
  height: 40px;
  font-size: 16px;
  margin: 0 10px;
  padding: 10px;
  border-radius: 10px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  cursor: pointer;
  outline: none;
}

.btn-select:hover,
.btn-select:focus {
  background-color: #387c6d;
}

.searched-movies-list {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 50px;
  padding: 20px;
}

.searched-movies-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0;
}

.movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.movie-container img {
  max-width: 100%;
}

.movie-container li button {
  grid-column: span 2;
  margin: 0 auto;
  margin-bottom: 20px;
}

/* Page list styling */
.page-container {
  padding: 20px 10px 40px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-btn {
  width: 35px;
  padding: 5px;
  margin: 0 5px;
  border: none;
  border-radius: 50%;
}

.page-btn:hover,
.page-btn:focus {
  background-color: #e9896a;
}

.movie-detail-outer {
  padding: 50px;
  background-color: #387c6d;
}

.movie-detail-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #fff;
}

.movie-description {
  width: 70%;
  padding-right: 50px;
}

.btn-add:hover,
.btn-add:focus {
  background-color: #e9896a;
}

.movie-description h2 {
  margin-top: 0;
}

.movie-poster img {
  max-width: 100%;
}

/* Display lists styling */
.prediction-container {
  text-align: center;
  border: 1px solid black;
  background-color: #e9896a;
}

.prediction-container {
  padding: 10px 30px 30px 30px;
  margin: 20px 0;
}

.prediction-container h2 {
  margin-top: 0;
  padding: 20px 10px;
}

.prediction-wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-auto-rows: auto;
  -webkit-column-gap: 20px;
          column-gap: 20px;
}

.prediction-list,
.prediction-container ol {
  padding-left: 0;
}

.prediction-container li {
  padding: 7px 0;
}

.prediction-list li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 5px 0;
}

.prediction-list button {
  margin: 0 30px;
}

/* Scroll up button styling */
.movie-container {
  position: relative;
}

.btn-scroll-up {
  -webkit-animation: bounce 1s infinite;
          animation: bounce 1s infinite;
}

@-webkit-keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes bounce {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.8);
            transform: scale(0.8);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

/* Footer styling */
footer {
  text-align: center;
  background-color: #e9896a;
  padding: 5px;
}

footer a {
  text-decoration: none;
  color: #000;
}

footer a:hover,
footer a:focus {
  color: #387c6d;
}

/* Media queries styling */
@media (max-width: 1075px) {
  .prediction-wrapper {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -webkit-column-gap: 0;
            column-gap: 0;
    row-gap: 20px;
  }
  .app-description,
  .search-message,
  .prediction-container h2 {
    font-size: 1.2rem;
  }
}

/* Portrait tablet and small desktops */
@media (max-width: 940px) {
  h1 {
    font-size: calc(20px + 4vh);
    line-height: calc(20px + 3vh);
  }
  .movie-detail-inner {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    text-align: center;
  }
  .movie-description {
    width: 100%;
    padding-right: 0;
  }
  .movie-poster {
    padding-top: 50px;
  }
  .movie-poster img {
    max-width: 70%;
  }
}

/* Landscape phone to portrait tablet */
@media (max-width: 768px) {
  .searched-movies-list {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
  .search-message,
  .prediction-container h2 {
    font-size: 1rem;
  }
  .prediction-container li,
  .prediction-container p {
    font-size: 0.9rem;
  }
  footer,
  .prediction-container button {
    font-size: 0.8rem;
  }
}

/* Landscape phones and down */
@media (max-width: 480px) {
  h1 {
    padding-left: 10px;
    font-size: calc(20px + 2vh);
    line-height: calc(20px + 1vh);
  }
  .app-description {
    font-size: 1rem;
    padding: 40px 20px;
  }
  .search-message,
  .prediction-container h2 {
    font-size: 0.9rem;
  }
  .prediction-list li {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .prediction-list button {
    width: 100px;
    margin: 10px 0;
  }
  .searched-movies-list {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }
  .movie-description h2 {
    font-size: 1.2rem;
  }
  .movie-description p,
  .btn-add,
  .prediction-container li,
  .prediction-container p {
    font-size: 0.8rem;
  }
  .movie-detail-outer {
    padding: 50px 20px;
  }
}
